# Managed by terraform-aws-openvpn (google-wif.tf). Sourced by verify-wif.sh
# and the certificate-revocation job. Contains no secret.
export GOOGLE_APPLICATION_CREDENTIALS=${credential_path}
export WIF_SA_EMAIL=${sa_email}
export WIF_SA_CLIENT_ID=${sa_client_id}
export WIF_EXPECTED_ROLE_ARN=${expected_role_arn}
export WIF_ADMIN_SUBJECT=${admin_subject}
